<% include ./partials/header %>

<div class="ui main text container segment" id="container">
    <div class="ui huge header"><%= blog.title%></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image"src="<%=blog.image%>"></img>
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%-blog.body%></p>
            </div>
            <% if(!currentUser){ %>
                    
                <% } else { %>
                    <div class="ui container" id="editContainer">
                        <a class="ui positive button"href="/blogs/<%= blog._id %>/edit">Edit</a>
                        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="negative ui button">Delete</button>
                    </div>
            </form>
                <% } %>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>